<div class="container border-round">
    <h1 class="header">Список дел</h1>
    <div class="container border-round">
        <div class="container">

            <ul>
                <li>Создать компонент</li>
                <button class="button-del">Удалить</button>
            </ul>
            <ul>
                <li>Добавить компонент в основное приложение</li>
                <button class="button-del">Удалить</button>
            </ul>
            <ul>
                <li>Добавить разметку в шаблоны</li>
                <button class="button-del">Удалить</button>                
            </ul>

        </div>
    </div>
        <div class="container fl">
            <input type="text" placeholder="Добавить новое задание">  
            <button class="button-add">Добавить</button>
        </div>

    <p>

</div>