<div class="container border-round">
    <h1 class="header">Список дел</h1>
    <div class="container border-round">
        <div class="container">

            <ul>
                    <app-to-do-list-item 
                        *ngFor="let listItem of items; let i = index"
                        [itemsList]="items[i]" (dltItem)="delItem($event)">
                    </app-to-do-list-item> 
            </ul>

        </div>
    </div>
        <div class="container fl">
            <input matInput type="text" placeholder="Добавить новое задание" [(ngModel)]="newItem" (ngModelChange)="editInput(newItem)">  
            <button [ngClass]="{'disabled': !ActiveAdd}" class="button-add" (click)="addItem(newItem)">Добавить</button>
        </div>

    <p>

</div>